.classEmojiText {
    font-size: 4rem;
}

.customLoadingBar {
    width: 20px;
    height: 12px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 4px;
    color: #7eafeb;
    background: currentColor;
    box-sizing: border-box;
    animation: animloader 0.6s 0.3s ease infinite alternate;
}

.customLoadingBar::after,
.customLoadingBar::before {
    content: '';
    box-sizing: border-box;
    width: 10px;
    height: 12px;
    background: currentColor;
    position: absolute;
    border-radius: 4px;
    top: 0;
    right: 110%;
    animation: animloader 0.6s ease infinite alternate;
}

.customLoadingBar::after {
    left: 110%;
    right: auto;
    animation-delay: 0.6s;
}

@keyframes animloader {
    0% {
        width: 10px;
    }

    100% {
        width: 30px;
    }
}

.customMinimumMarginTopBottom {
    margin: 0.1rem 0;
}