[data-bgcolor="red"] input {
  background: #F5C89B;
}

[data-bgcolor="yellow"] input {
  background: #F9F8B2;
}

[data-bgcolor="green"] input {
  background: #DCFDB8;
}

.sapMInputBaseContentWrapperSuccess {
  border: .15rem solid #058b05
}

/* ------------ New ------------------ */
.objPageClass .sapContrastPlus.sapFDynamicPageTitle,
.objPageClass .sapContrastPlus .sapFDynamicPageTitle,
.objPageClass .sapContrastPlus.sapUxAPAnchorBar.sapMTB,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar.sapMTB,
.objPageClass .sapUxAPObjectPageNavigation {
  background: #fafafa !important;
}


.sapContrastPlus.sapUxAPAnchorBar.sapMTB,
.sapContrastPlus .sapUxAPAnchorBar.sapMTB {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2) !important;
  border-bottom: none !important;
  /* Remove native border if present */
}

.objPageClass .sapFDynamicPageTitle {
  min-height: 0;
  padding: 0.2rem 2rem 0 3rem;
}

.objPageClass .sapContrastPlus.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent {
  color: #131e29;
  font-weight: 600;
}

.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnIcon,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner.sapMBtnTransparent.sapMBtnHoverable:hover .sapMBtnContent,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnContent,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnIcon,
.objPageClass .sapContrastPlus .sapUxAPAnchorBar .sapMSltLabel,
.objPageClass .sapContrastPlus .sapMSltArrow {
  color: #0064d9 !important;
}

.objPageClass .sapContrastPlus.sapMBtnInner,
.objPageClass .sapContrastPlus .sapMBtnInner {
  background-color: #fafafa;
  border: .0625rem solid #979797;
  color: #515468;
  text-shadow: none;
}

.objPageClass .sapContrastPlus span.sapMBtnInner.sapMBtnAccept {
  background-image: none;
  background-color: #1fc340;
  border-color: #abe2ab;
  color: #fff9f9
}

.sapContrastPlus.sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent,
.sapContrastPlus .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent {
  border-bottom-color: #0064d9;
  border-width: 2rem;
}

/* .ContainerBox */
.POItemCointainer {
  background: transparent;
  border-radius: 0.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 2rem;
}

.POItemCointainer .POItemHeader {
  padding: 0.8rem 2rem;
  background: #ebebeb;
  background: linear-gradient(90deg, rgb(242 247 251) 0%, rgb(251 251 251) 100%);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-weight: 600;
}

.POItemCointainer .POItemHeader .sapUiIcon,
.POItemCointainer .POItemHeader .sapMText {
  color: #414141;
  font-size: 1rem;
}

.POItemCointainer .POItemHeader .sapMFlexItem>.sapUiIcon {
  margin-right: 0.8rem;
}

/* PO Line Item Header Bar */
.poLineItemBar {
  background: transparent;
  font-weight: 600;
  padding: 1.4rem 0;
  margin: 0 2rem;
}

.PoLineText .sapMText {
  color: #393939;
  margin-left: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.PoLineText .sapUiIcon {
  color: #0064d9;
  font-size: 1.7rem;
}

.poLineItemBar .HeaderTag {
  font-size: 0.9rem !important;
  color: #2259e3 !important;
  border-radius: 2rem;
  background: #f4f8fb;
  padding: 0 0.5rem;
  border: 0.5px solid #2259e3;
  margin: 0.1rem 0 0 0.7rem;
}

/* Billing Milestone Header Bar */
.BillingMilestoneBar {
  background: #fcfcfc;
  font-weight: 600;
  margin: 0 2rem;
  padding: 0.5rem 0;
}

.BillingMilestoneBarText .sapMText {
  color: #0c6bd9;
  margin-left: 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.BillingMilestoneBar .HeaderTag {
  font-size: 0.9rem !important;
  color: #2259e3 !important;
  border-radius: 2rem;
  background: #f4f8fb;
  padding: 0 0.5rem;
  border: 0.5px solid #2259e3;
  margin: 0.1rem 0 0 0.7rem;
}

.blueIcon {
  color: #0064d9 !important;
  font-size: 1.5rem !important;
}


/* .ContainerBox */
.ContainerBox {
  background: #ffffff;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}

.ContainerBox .ContainerBoxHeader {
  padding: 0.8rem 2rem;
  background: #2259e3;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-weight: 600;
}

.ContainerBox .ContainerBoxHeader .sapUiIcon,
.ContainerBox .ContainerBoxHeader .sapMText {
  color: white;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ContainerBox .ContainerBoxHeader .sapUiIcon {
  margin-right: 0.8rem;
}

.centerVerticalAlign * {
  display: flex;
  align-items: center;
}


.ContainerBody {
  padding: 1rem 0 1rem 1rem;
}

/* container 2  */
.GreyContainerBox {
  background: #f5f5f5;
  border-radius: 0.6rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}

.GreyContainerBox .GreyContainerBoxHeader {
  padding: 0.8rem 1.2rem;
  background: #f5f5f5;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-weight: 600;
}

.GreyContainerBox .GreyContainerBoxHeader .centerVerticalAlign * {
  display: flex;
  align-items: center;
}

.GreyContainerBox .GreyContainerBoxHeader .sapUiIcon,
.GreyContainerBox .GreyContainerBoxHeader .sapMText {
  color: #2259e3;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.GreyContainerBox .GreyContainerBoxHeader .sapUiIcon {
  margin-right: 0.8rem;
}

/* container 3  */
.GeneralCointainer .sapFGLI {
  box-shadow: none;
  background: transparent;
}

.GeneralCointainerBody {
  background: transparent;
  padding: 1rem 0;
}

.GeneralCointainerBoxHeader {
  padding: 0 0 0;
  font-weight: 600;
}

.GeneralCointainerBoxHeader.centerVerticalAlign * {
  display: flex;
  align-items: center;
}

.GeneralCointainerBoxHeader .HeaderText .sapUiIcon,
.GeneralCointainerBoxHeader .HeaderText .sapMText {
  color: #5c5c5c;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.GeneralCointainerBoxHeader .HeaderText .sapUiIcon {
  margin-right: 0.8rem;
}

/* ------- Form Layout For Label & Text / Input ------------ */
/* Form Wrapper */
.CustomFormLayout {
  padding: 1.5rem 1rem 0 1rem;
}

.CustomFormLayout .sapUiRespGridHSpace1>div {
  height: 4rem;
}

.CustomFormLayout .sapMVBox {
  margin: 0 1rem;
}

.CustomFormLayout .labelText .sapMLabel {
  font-weight: 900;
  color: #6f747a;
}

/* Form Text Input  */
.CustomFormLayout .sapMText {
  font-weight: 700;
  color: #3b3a43;
  margin: 0.2rem 0;
}

.CustomFormLayout .sapMInputBase,
.CustomFormLayout .sapMSlt {
  width: 75% !important;
  margin: 0.2rem 0 0 0;
}

/* Org Card View  */
.OrgCardView {
  border-radius: 0.6rem;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  border: 0.01rem solid #0064d9;
}

/* top */
.OrgCardTop {
  padding: 1rem 2REM 01rem 2rem;
  background: #fefefe;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.OrgCardTop .logo {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: #0064d9;
}

.OrgCardTop .labelText .sapMLabel {
  font-weight: 900;
  color: #7f8994;
}

.OrgCardTop .sapMText {
  font-weight: 700;
  color: #474747;
  /* height: 0.8rem; */
  font-size: 1.3rem;
}

/* Form Text Input  */
.OrgCardTop .sapMInputBase,
.OrgCardTop .sapMSlt {
  width: 95% !important;
}

/* bottom  */
.OrgCardBottom {
  padding: 0 2REM 1.2rem 2rem;
  background: #0064d9;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* bottom form design  */
.OrgCardBottom .labelText .sapMLabel {
  font-weight: 900;
  color: #c4c4c4;
  margin-top: 1rem;
}

/* Form Text Input  */
.OrgCardBottom .sapMText {
  font-weight: 700;
  FONT-SIZE: 1.1rem;
  color: #efebeb;
}

.OrgCardBottom .sapMInputBase,
.OrgCardBottom .sapMSlt {
  width: 99% !important;
  margin: 0;
}

/* Stylish Table Design  */
.MyStylishTable .sapMTableTH {
  background: transparent;
  border-bottom: 0.2rem solid #0064d9;
  padding: 0 0 3rem 0;
  /* margin: 5rem; */
}

.MyStylishTable .sapMColumnHeader .sapMText {
  color: #5e5e5e;
  font-weight: 700;
  font-size: 0.95rem;
}


.MyStylishTable .stylTblSubher {
  color: #96a1ad !important;
  font-size: 0.8rem !important;
}


.MyStylishTable .sapMLIBShowSeparator>td,
.MyStylishTable .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td:not(.sapMListTblDummyCell),
.MyStylishTable .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td:not(.sapMListTblDummyCell) {
  border-top: none;
  border-bottom: 0.1rem solid #f9f9f9;
}

.MyStylishTable .sapMListTblHighlightCell {
  padding: 1.8rem;
  /* or padding-top */
}


.ContactAvatar {
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1rem;
  margin-right: 0.7rem;
}

.ContactAvatar .sapFAvatarInitialsHolder {
  font-size: 0.9rem;
}

.ContactName {
  color: #433f3f;
  font-weight: 600;
  font-size: 0.9rem;
}

.ContactService .sapUiIcon,
.ContactService .sapMText {
  color: #787878;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.ContactService .sapUiIcon {
  color: #c7c7c7;
}


/* Custom Buttons  */
.transparentButton span.sapMBtnInner.sapMBtnReject {
  background: transparent;
  border: none;
}

.transparentButton:not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon {
  color: #e25e11;
}

/* Custom Fonts  */
.largeFont {
  font-size: 1.5rem;
}

.blackFont {
  color: #3b3a43 !important;
}

.customBlueButton span.sapMBtnInner.sapMBtnEmphasized {
  background: #0064D9;
  background: linear-gradient(90deg, rgba(0, 100, 217, 1) 0%, rgba(44, 126, 219, 1) 100%);
  /* blue gradient */
  border: 1px solid #dcdcdc;
  text-shadow: none;
  height: 2rem;
  align-items: center;
  border-radius: 0.3rem;
}


.customBlueButton span.sapMBtnInner.sapMBtnEmphasized:hover {
  background: linear-gradient(-90deg, rgba(0, 100, 217, 1) 0%, rgba(44, 126, 219, 1) 100%);
}

.customBlueButton span.sapMBtnInner.sapMBtnEmphasized * {
  color: #ffffff;
}

.remarkFied {
  width: 100%;
  background: #fafbfc;
  margin: 0.5rem 0 0 0 !important;
  padding: 1rem 0.5rem;
  border-left: 0.5rem solid #2259e3;
  border-radius: 0.4rem;
}


.responsiveFlexBox {
  margin: 0 2rem;
  background: transparent;
  border-radius: 1rem;
  background: #f9fbff;
  border: 0.1rem solid #ddeaf8;
}

.uploaderBox {
  padding: 1.5rem;
  box-sizing: border-box;
}

.uploaderBox:first-child {
  border-right: 0.2rem dashed #ddeaf8;
}

/* Responsive for phone view */
@media only screen and (max-width: 600px) {
  .uploaderBox {
    width: 100% !important;
  }
}